:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
  }

body {
    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: row;
}

.container-1 {
    background-color: #121214;;
    width: 50%;
    height: 100%;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
}

.container-2 {
    width: 50%;
    height: 100%;
    padding: 0 25px;
    background: url(assets/read_news.jpg);
    background-size: cover;
    background-position: right;
}

.logo {
    width: 55%;
    margin-top: 25px;
    margin-bottom: 120px;
}

.destaque {
    font-family: 'Work Sans', sans-serif;
}

#titulo {
    color: var(--title-color);
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 0;
}

#subtitulo {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: var(--text-color);
    margin-top: 5px;
}

.textos {
    margin-bottom: 60px;
}

.formulario {
    display: flex;
    flex-direction: column;
    font-family: 'League Spartan', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    color: var(--form-color);
    font-weight: 500;
   
}

label {
    margin-top: -30px;
    font-size: 18px;
}

input {
    width: 800px;
    height: 50px;
    border: 0;
    border-left: #04D361 solid 5px;
    padding-left: 5px;
    
    
}

::placeholder {
    font-family: 'Work Sans', sans-serif;
}

.submit {
    display: flex;
    flex-direction: row;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 15px;
}

button {
    border: 0;
    width: 50px;
    background-color: #8257e5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send {
    color: var(--text-color);
}

a {
    color: #8257e5;
    margin-top: 100px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}
